/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol, ul, li {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

h3 {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	
}

/* lien après login pour modification et ajout projets */
#portfolio a {
	vertical-align: middle;
	color: black;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

#portfolio .fa-regular {
	vertical-align: middle;
	color: black;
	font-size: 14px;
	font-weight: 400;
	margin-left: 30px;
	margin-right: 5px;
}

/* modal suppression et ajout projet */
.modal {
	position: fixed;
	inset: 0% 0% 0% 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	background: rgba(0, 0, 0, 0.3);
}

* {
	box-sizing: border-box;
}

#modifyProject h3 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.modal-wrapper {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 688px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	border-radius: 10px;
	background-color: white;
}

.modal-wrapper-masque {
	display: none;
}

#projetsList {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
}

.modal-wrapper figure {
	margin-right: -6px;
}

.modal-wrapper img {
	width: 77px;
	height: 103px;
	border: 1px #c4c4c4 solid;
	margin: 15px 0px 15px 0px;
}

.modal-masque {
	display: none;
}

#galeriePhoto {
	position: absolute;
}

#ajoutPhoto {
	position: absolute;
}

/* icône "fermer" modale galerie photo */
#fermer_1 {
	color: black;
	font-size: large;
	margin-bottom: 10px;
	position: inherit;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

/* icône "fermer" modale ajout photo */
#fermer_2 {
	color: black;
	font-size: large;
	margin-bottom: 10px;
	position: inherit;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

/* icône "retour" modale ajout photo */
#retour {
	color: black;
	font-size: large;
	margin-bottom: 10px;
	position: inherit;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

/* icônes "poubelle" pour chaque miniature de projet */
#projetsList i {
	color: white;
	background-color: black;
	font-size: x-small;
	position: relative;
	top: -100px;
	right: 25px;
	cursor: pointer;
	margin-bottom: 0;
	border-radius: 3px;
	padding: 4px;
}

/* ligne horizontale */
hr {
	width: 75%;
	border: none;
	border-top: 1px #B3B3B3 solid;
	margin: 30px 0px 10px 0px;
}

.cadreajoutPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	border: 1px #E8F1F6 solid;
	width: 420px;
	height: 170px;
	margin-top: 15px;
}

.avantInsertion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.apresInsertion {
	display: none;
}

.cadreajoutPhoto img {
	border: 0;
	width: 76px;
	height: 76px;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	color: #444444;
	margin: 10px;
}

/* masquage du bouton "Parcourir" par défaut de l'Input type file */
#ajoutfichierPhoto {
	display: none;
}

/* ajoutfichierPhoto btn_1 */
#modifyProject .avantInsertion .btn_1 {
	align-content: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Syne';
	border-radius: 25px;
	padding: 10px 20px 10px 20px;
	margin-top: 0;
	margin-bottom: 0;
	height: 37px;
	color: #306685;
	background-color: #CBD6DC;
    border: 1px #CBD6DC solid;
	cursor: pointer;
}

.ajoutfichierPhoto input .btn_1 {
	opacity: 0;
}

/* Affiche ou masque la prévisualisation de l'image sélectionnée */ 
.previewMasque {
	display: none;
}

/* ********************************************************************************************************** */
.cadreajoutPhoto .previewAffiche img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Formulaire des champs du nouveau projet */
.formAjout {
	display: flex;
	flex-direction: column;
	width: 420px;
}

.formAjout label {
	align-items: flex-start;
	align-content: flex-start;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;
	margin-top: 15px;
	margin-bottom: 5px;
}

.formAjout input {
	width: 420px;
	height: 50px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
}

.formAjout select {
	width: 420px;
	height: 50px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	background-color: white;
}

.formAjout hr {
	width: 420px;
	margin-top: 50px;
}

#modifyProject .btn-on {
	align-content: center;
	justify-content: center;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	border-radius: 25px;
	padding: 0 20px 0 20px;
	height: 37px;
}

#modifyProject .btn-on:hover {
	background-color: #0E2F28;
}

/* bouton_2 inactif */
#modifyProject .btn-off_2 {
	align-content: center;
	justify-content: center;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Syne';
	border-radius: 25px;
	padding: 0 25px 0 25px;
	height: 37px;
	width: 237px;
	color: white;
	background-color: #A7A7A7;
    border: 1px #A7A7A7 solid;
	cursor: not-allowed;
}

/* bouton_2 actif */
#modifyProject .btn-on_2 {
	align-content: center;
	justify-content: center;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Syne';
	border-radius: 25px;
	padding: 0 25px 0 25px;
	height: 37px;
	width: 237px;
	color: white;
	background-color: #1D6154;
	border: 1px #1D6154 solid;
	cursor: pointer;
}

#modifyProject .btn-on_2:hover {
	color: white;
	background-color: #0E2F28;
	border: 1px #1D6154 solid;
}

/* Gestion des boutons filtres des projets */
.filtre {
    display: flex;
	justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
	margin-top: 50px;
}

.filtre.filtre-off {
	display:none;
}

.filtre button {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	border-radius: 25px;
    border: 1px #1D6154 solid;
	padding: 0 20px 0 20px;
	height: 37px;
}

/* passage de la souris sur le bouton */
.btn-filtre:hover {
	color: white;
	background-color: #0E2F28;
	border: 1px #1D6154 solid;
	padding: 0 20px 0 20px;
	height: 37px;
}

/* bouton non activé */
.btn-filtre {
	color: #1D6154;
	background-color: white;
    border: 1px #1D6154 solid;
	/*padding: 0 20px 0 20px;
	height: 37px;*/
}

/* bouton actif */
.btn-on {
	color: white;
	background-color: #1D6154;
    border: 1px #1D6154 solid;
	/*padding: 0 20px 0 20px;
	height: 37px;*/
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	font-size: 16px;
	padding-top: 50px;
}

.gallery img {
	width: 100%;
	border: 1px #c4c4c4 solid;
	margin-bottom: 7px;
}

/* Affichage ou masquage des projets selon sélection filtre */
.gallery figure {
	display: block;
}

.gallery figure.masque {
	display: none;
}

#contact {
	width: 33%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	/*width: 380px;*/
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
	background-color: #0E2F28;
}

#login {
	width: 33%;
	margin: auto;
}

#login > * {
	text-align: center;
}

#login h2{
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#errorMessage {
	margin: auto;
	text-align: center;
	color: #b91b1b;
	font-weight: 700;
	font-size: 1.5em;
	margin-top: 50px;
	margin-bottom: 350px;
}

.mdp_oublie {
	width: 50%;
	margin: auto;
	text-align: center;
	color: #3D3D3D;
	font-weight: 500;
}

.mdp_oublie a {
	color: #3D3D3D;
	font-weight: 500;

}

footer {
	align-content: center;
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	margin: 2em;
}

